services:
  frontend:
    container_name: frontend
    image: matt3010/linoir-frontend:latest
    ports:
      - "9372:80"
    depends_on:
      - service
    networks:
      - app-network
    environment:
      - TELEGRAM_API_ID=
      - TELEGRAM_API_HASH=
    labels:
      - "com.centurylinklabs.watchtower.enable=true"

  service:
    container_name: ws-backend
    image: matt3010/linoir-service:latest
    ports:
      - "3333:3333"
    networks:
      - app-network
    environment:
      - NODE_ENV=production
    labels:
      - "com.centurylinklabs.watchtower.enable=true"

  watchtower:
    container_name: watchtower
    image: containrrr/watchtower
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    command: --cleanup --interval 30
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
